<html>
	<head>
		<title>MEAN APP</title>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body ng-app="News" ng-controller="MainCtrl">
		<div ng-repeat="post in posts| orderBy: '-upvotes'">
			<a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
			<span ng-hide="post.link">{{post.title}}</span>
			 -upvotes:{{post.upvotes}}
			<span ng-click="upvote(post)">vote!</span>
		</div>
		<form ng-submit="addPost()">
			<input type="text" ng-model="title" placeholder="title"><br>
			<input type="text" ng-model="link" placeholder="link">
			<button type="submit">Add Post</button>
		</form>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>